<div class="container">
    <form [formGroup]="formThree" class="form-one-class">
        <h2>User Three Form</h2>

        <div class="form-inner">

            <mat-form-field appearance="outline">
                <mat-label>L.R. No</mat-label>
                <input matInput type="text" formControlName="lrNum" [matAutocomplete]="auto" (input)="onLrInput()">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onLrNumSelected($event)">
                    <mat-option *ngFor="let suggestion of filteredSuggestions" [value]="suggestion.lrNum">
                        {{ suggestion.lrNum }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>L.R Date</mat-label>
                    <input matInput [matDatepicker]="lrDate" readonly formControlName="lrDate"/>
                    <mat-datepicker-toggle matSuffix [for]="lrDate"></mat-datepicker-toggle>
                    <mat-datepicker #lrDate></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Vehical No</mat-label>
                    <input matInput type="text" formControlName="vehicalNo">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Freight</mat-label>
                    <input matInput type="text" formControlName="freight">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Invoice Number</mat-label>
                    <input matInput type="text" formControlName="invoiceNumber">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Invoice Amount</mat-label>
                    <input matInput type="text" formControlName="invoiceAmount">
                </mat-form-field>

            <div>
                <button class="primary-button" mat-raised-button type="submit" [disabled]="!formThree.valid" (click)="postFormThreeData()">Submit</button>
            </div>    

        </div>

    </form>

    <table mat-table [dataSource]="selectedSuggestion.length > 0 ? selectedSuggestion : tableData" class="mat-elevation-z8">
   
        <ng-container matColumnDef="lrNum">
          <th mat-header-cell *matHeaderCellDef> LR No. </th>
          <td mat-cell *matCellDef="let element"> {{element.lrNum}} </td>
        </ng-container>
      
        <ng-container matColumnDef="lrDate">
          <th mat-header-cell *matHeaderCellDef> LR Date </th>
          <td mat-cell *matCellDef="let element"> {{element.lrDate | date:'dd-MM-YYYY'}} </td>
        </ng-container>

        <ng-container matColumnDef="vehicalNo">
            <th mat-header-cell *matHeaderCellDef> Vehical No. </th>
            <td mat-cell *matCellDef="let element"> {{element.vehicalNo }} </td>
          </ng-container>

        <ng-container matColumnDef="freight">
            <th mat-header-cell *matHeaderCellDef> Freight </th>
            <td mat-cell *matCellDef="let element"> {{element.freight }} </td>
        </ng-container>
    
        <ng-container matColumnDef="invoiceNumber">
            <th mat-header-cell *matHeaderCellDef> Invoice Number </th>
            <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="invoiceAmount">
            <th mat-header-cell *matHeaderCellDef> Invoice Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.invoiceAmount}} </td>
          </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="deleteRow(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
</div>    
  