<div class="container">
    <form [formGroup]="formThree" class="form-one-class">
        <h2>User Three Form</h2>

        <div class="form-inner">

            <mat-form-field appearance="outline">
                <mat-label>L.R. No</mat-label>
                <input matInput type="text" formControlName="lrNum" [matAutocomplete]="auto" (input)="onLrInput()">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onLrNumSelected($event)">
                    <mat-option *ngFor="let suggestion of filteredSuggestions" [value]="suggestion.lrNum">
                        {{ suggestion.lrNum }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        
                <mat-form-field appearance="outline">
                    <mat-label>L.R Checked Date</mat-label>
                    <input matInput [matDatepicker]="lrDate" readonly formControlName="lrCheckedDate"/>
                    <mat-datepicker-toggle matSuffix [for]="lrDate"></mat-datepicker-toggle>
                    <mat-datepicker #lrDate></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Reporting Date</mat-label>
                    <input matInput [matDatepicker]="reportingDate" readonly formControlName="reportingDate"/>
                    <mat-datepicker-toggle matSuffix [for]="reportingDate"></mat-datepicker-toggle>
                    <mat-datepicker #reportingDate></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Unload Date</mat-label>
                    <input matInput [matDatepicker]="unloadDate" readonly formControlName="unloadDate"/>
                    <mat-datepicker-toggle matSuffix [for]="unloadDate"></mat-datepicker-toggle>
                    <mat-datepicker #unloadDate></mat-datepicker>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Unload Net Wt</mat-label>
                    <input matInput type="text" formControlName="unloadnetWt">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Shortage</mat-label>
                    <input matInput type="text" formControlName="shortage">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Shortage % Permissibile</mat-label>
                    <input matInput type="text" formControlName="shortagePercent">
                </mat-form-field>

            <div>
                <button class="primary-button" mat-raised-button type="submit" [disabled]="!formThree.valid" (click)="postFormThreeData()">Submit</button>
            </div>    

        </div>

    </form>

    <table mat-table [dataSource]="selectedSuggestion.length > 0 ? selectedSuggestion : tableData" class="mat-elevation-z8">
   
        <ng-container matColumnDef="lrNum">
          <th mat-header-cell *matHeaderCellDef> LR No. </th>
          <td mat-cell *matCellDef="let element"> {{element.lrNum}} </td>
        </ng-container>
      
        <ng-container matColumnDef="lrCheckedDate">
          <th mat-header-cell *matHeaderCellDef> LR Checked Date </th>
          <td mat-cell *matCellDef="let element"> {{element.lrCheckedDate | date:'dd-MM-YYYY'}} </td>
        </ng-container>

        <ng-container matColumnDef="reportingDate">
            <th mat-header-cell *matHeaderCellDef> Reporting Date </th>
            <td mat-cell *matCellDef="let element"> {{element.reportingDate | date:'dd-MM-YYYY'}} </td>
          </ng-container>

        <ng-container matColumnDef="unloadDate">
            <th mat-header-cell *matHeaderCellDef> Unload Date </th>
            <td mat-cell *matCellDef="let element"> {{element.unloadDate | date:'dd-MM-YYYY'}} </td>
        </ng-container>
    
        <ng-container matColumnDef="unloadNetWt">
            <th mat-header-cell *matHeaderCellDef> Unload Net Wt </th>
            <td mat-cell *matCellDef="let element"> {{element.unloadnetWt}} </td>
          </ng-container>

          <ng-container matColumnDef="shortage">
            <th mat-header-cell *matHeaderCellDef> Shortage </th>
            <td mat-cell *matCellDef="let element"> {{element.shortage}} </td>
          </ng-container>


          <ng-container matColumnDef="shortagePercent">
            <th mat-header-cell *matHeaderCellDef> Shortage Percent </th>
            <td mat-cell *matCellDef="let element"> {{element.shortagePercent}} </td>
          </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="deleteRow(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
</div>    
  